/* Colors defined */
:root {
  --dark-green: #1e3932;
  --green: #008248;
  --pale-green: #d4e9e2;
  --off-white-green: #f1f8f6;
  --light-beige: #f3f1e7;
  --black: #000000;
}

/* Reset everything */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Set font size to 10px by default. By using this technique it is easier to measure everything */
html {
  font-size: 62.5%;
}

/* Font family */
@font-face {
  font-family: "SoDo-Sans";
  src: url("/fonts/sodo-sans-regular.woff") format("woff");
  font-weight: bold;
  font-style: italic;
}

body {
  font-family: "SoDo-Sans", sans-serif;
  color: var(--black);
}

/* Styling */
.header-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 3rem 3rem 1.5rem;
}

.logo-nav-section {
  display: flex;
  align-items: center;
  gap: 3rem;
}

.logo {
  height: 8rem;
}

.main-nav-list,
.other-nav {
  font-size: 1.8rem;
  list-style-type: none;
  display: flex;
  gap: 3rem;
}

.main-nav-link {
  text-decoration: none;
  color: var(--black);
  position: relative;
}

.location-link {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.main-nav-list a {
  padding-bottom: 3.9rem;
}

.main-nav-list a:hover,
.main-nav-list a:active,
.other-nav a:active {
  border-bottom: 0.5rem solid var(--green);
  margin-bottom: -0.5rem;
}

.header-section-breadcrumbs {
  height: 3rem;
  background-color: var(--dark-green);
}

/* buttons */
.btn {
  border: 1px solid var(--black);
  padding: 0.5rem 2rem;
  border-radius: 2.5rem;
}
